# Archivos de compilación de CPython
__pycache__/
*.py[cod]
*$py.class

# Archivos binarios compilados
*.so
*.pyd
*.dll
*.dylib

# Archivos de caché y logs
*.log
*.tmp

# Entornos virtuales
venv/
.env
